<section class="password-form-section">
  <div class="password-form-container">
    {%- form 'storefront_password', id: 'StorefrontPassword', data-form-admin: '' -%}
      {{- form.errors | default_errors -}}

      {%- unless form.posted_successfully? -%}
        <div id="AdminLogin">
      <input 
        class="password-input" 
        type='password' 
        placeholder="{{ section.settings.placeholder_text }}" 
        name='password' 
        id='password' 
        required>
      <button 
        type="submit" 
        class="password-login-button">
        {{ section.settings.button_text }}
      </button>

        </div>
      {%- endunless -%}
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Password Form",
  "settings": [
    {
      "type": "text",
      "id": "placeholder_text",
      "label": "Placeholder text",
      "default": "Digite sua senha"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texto do botão",
      "default": "Entrar"
    }
  ],
  "presets": [
    {
      "name": "Password Form"
    }
  ]
}
{% endschema %}


<style>
.password-form-section {
  display: block;
  padding: 20px;
  height:auto;
}
#AdminLogin {
  display: grid;
}
.storefront-password-form {
  display: initial!important;
}
  
.password-form-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.password-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;

}

.password-login-button {
  padding: 10px 20px;
  background-color:rgb(0, 0, 0);
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
}
</style>